html,
body {
    background-color: antiquewhite;
}

.navbar {
    background-color: burlywood;
}
.navbar-nav a {
    font-size: 1.1rem;
}
.dropdown-menu {
    background-color: antiquewhite;
}
.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
}

.card-img-top {
    height: 20rem;
    object-fit: cover;
}

.logo {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
}
