{% extends 'common/layout.html' %}

{% load static %}


{% block imports %}
    <script src="{% static 'accounts/js/format-form.js' %}"></script>
    <script src="{% static 'accounts/js/edit-profile.js' %}"></script>
{% endblock %}

{% block title %}Profile{% endblock %}

{% block description %}Edit your account details.{% endblock %}

{% block body %}
    <div class="container">
        {% if message %}
            <div class="alert alert-success alert-dismissible fade show mt-3 mb-0" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <h1 class="pt-5 pb-1">Edit your account details</h1>
        <p><a class="text-decoration-none fw-semibold fst-italic"
            href="{% url 'accounts:password_change' %}">Looking to change your password?</a></p>
        <div class="text-end p-0 m-0">
            <form action="{% url 'accounts:logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Log out</button>
            </form>
        </div>
        <form id="target-form" method="post">
            {% csrf_token %}
            {{ form }}
            <p class="text-danger">{{ form.errors }}</p>
            <div class="pt-3 d-flex align-items-center justify-content-center">
                <button type="button" id="cancel-button" 
                    class="btn btn-danger mx-2" hidden>Cancel</button>
                <button type="button" id="edit-button"
                    class="btn btn-dark mx-2 px-4">Edit</button>
                <button type="submit" id="save-button"
                    class="btn btn-dark mx-2 px-3" hidden>Save</button>
            </div>
        </form>
    </div>
{% endblock %}
