{% extends 'common/layout.html' %}

{% load static %}


{% block imports %}
    <script src="{% static 'accounts/js/format-form.js' %}"></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block description %}Login to your account.{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="pt-5 pb-1">Login</h1>
        <p><a class="text-decoration-none fw-semibold fst-italic"
            href="{% url 'accounts:register' %}">No account? Register here.</a></p>
        <form id="target-form" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="pt-3">
                <button type="submit" class="btn btn-dark d-block mx-auto">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
