{% extends 'common/layout.html' %}

{% load static %}


{% block title %}FlavorBlueprints{% endblock %}

{% block body %}
    <div class="container">
        {% if user %}
            <h3 class="pt-5 text-center fst-italic">Welcome back, {{ user.first_name }}!</h3>
            <h1 class="pt-3 pb-3">Latest Recipes</h1>
        {% else %}
            <!-- Extra padding if no greeting is displayed. -->
            <h1 class="pt-5 pb-3">Latest Recipes</h1>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for recipe_and_photo in recipes_with_photos %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ recipe_and_photo.1.image.url }}" 
                            class="card-img-top" 
                            alt="{{ recipe_and_photo.1.alt_text }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe_and_photo.0.title }}</h5>
                            <p class="card-text">{{ recipe_and_photo.0.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'recipes:recipe' recipe_and_photo.0.category.primary_category recipe_and_photo.0.category recipe_and_photo.0 %}" 
                                class="btn btn-dark">View Recipe</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 
    </div>
{% endblock %}
