{% extends 'common/layout.html' %}


{% block title %}{{ recipe.title }}{% endblock %}

{% block body %}
    <div class="container">
        {% for photo in photos %}
            <img src="{{ photo.image.url }}" alt="{{ photo.alt_text }}" class="img-fluid">
        {% endfor %}
        <h1>{{ recipe.title }}</h1>
        <p>{{ recipe.description }}</p>
        <p>{{ recipe.ingredients_metric }}</p>
        <p>{{ recipe.ingredients_imperial }}</p>
        <p>{{ recipe.instructions }}</p>
        <p>{{ recipe.category }}</p>
    </div>
{% endblock %}
