{% extends 'common/layout.html' %}

{% load static %}


{% block imports %}
    <link rel="stylesheet" href="{% static 'recipes/css/recipe.css' %}">
    <script src="{% static 'recipes/js/recipe.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="pt-5 pb-3">{{ title }}</h1>
        <p class="description">{{ description }}</p>
        <!-- Carousel section -->
        <div id="carousel" class="carousel slide pb-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for photo in photos %}
                    <button type="button" 
                        data-bs-target="#carousel" 
                        data-bs-slide-to="{{ forloop.counter0 }}" 
                        {% if forloop.first %}class="active" aria-current="true"{% endif %}
                        aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner rounded-3">
                {% for photo in photos %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ photo.image.url }}" alt="{{ photo.alt_text }}">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Ingredients -->
        <h2 class="pt-2 pb-2">Ingredients</h2>
        <div class="btn-group pb-2" role="group" aria-label="Units">
            <input type="radio" class="btn-check" name="unit" id="metric" autocomplete="off" checked>
            <label class="btn btn-outline-dark" for="metric">Metric</label>

            <input type="radio" class="btn-check" name="unit" id="imperial" autocomplete="off">
            <label class="btn btn-outline-dark" for="imperial">Imperial</label>
        </div>
        <p class="ingredients-metric">
            <ul class="ingredients-metric">
                {% for ingredient in ingredients_metric %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </p>
        <p class="ingredients-imperial d-none">
            <ul class="ingredients-imperial d-none">
                {% for ingredient in ingredients_imperial %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </p>

        <!-- Instructions -->
        <h2 class="pt-2 pb-2">Instructions</h2>
        {% for paragraph in instructions %}
            <p>{{ paragraph }}</p>
        {% endfor %}

        <!-- Rating -->
        {% if user %}
            <form class="pt-3 pb-3" method="post">
                {% csrf_token %}
                <h5 class="d-inline">Did you like this recipe? Give it a star:</h5>
                <button type="submit" name="rating" class="btn d-inline"><h5>
                    {% if user_starred %}
                        <i class="bi bi-star-fill"></i>
                    {% else %}
                        <i class="bi bi-star"></i>
                    {% endif %}
                         {{ star_count }}</h5></button>
            </form>
        {% else %}
            <div class="pt-3 pb-3">
                <h5 class="d-inline">Did you like this recipe? Give it a star:</h5>
                <a href="{% url 'accounts:login' %}" 
                    class="btn"><h5><i class="bi bi-star"></i> {{ star_count }}</h5></a>
                <p class="fst-italic">(You will be asked to login)</p>
            </div>
        {% endif %}

        <!-- Recommendations -->
        {% if recommendations %}
            <h3 class="pt-5 pb-2">If you liked this recipe, you might also like...</h3>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for recommendation in recommendations %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{ recommendation.1.image.url }}" 
                                class="card-img-top" 
                                alt="{{ recommendation.1.alt_text }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ recommendation.0.title }}</h5>
                                <p class="card-text">{{ recommendation.0.description }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'recipes:recipe' recommendation.0.category.primary_category recommendation.0.category recommendation.0 %}" 
                                    class="btn btn-dark">View Recipe</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        {% endif %}
    </div>
{% endblock %}
